<li><%= link_to "Empresa", companies_path  %></li>
<li><%= link_to "Padre de familia", customers_path  %></li>
<li><%= link_to "Hijos", children_path  %></li>
<li><%= link_to "Control de vacunas", vaccine_children_path  %></li>
<li><%= link_to "Periodos de crecimiento", child_development_periods_path  %></li>
<li><%= link_to "Historia clínica", medical_histories_path  %></li>

<li><%= link_to "Seguro médico", medical_insurances_path  %></li>
<li><%= link_to "Centro de salud", medical_centers_path  %></li>
<li><%= link_to "Médicos", doctors_path  %></li>

<li><%= link_to "Vacunas", vaccines_path  %></li>
<li><%= link_to "Plan de vacunas", vaccine_plans_path  %></li>
<li><%= link_to "Crecimiento del niño", child_developments_path  %></li>
<li><%= link_to "Tipo de sangre", blood_types_path  %></li>
<li><%= link_to "Tipo de nacimiento", birth_types_path  %></li>
<li><%= link_to "Medicinas", medicines_path  %></li>
<li><%= link_to "Examen médico", medical_exams_path  %></li>
<li><%= link_to "Problema de salud", health_problems_path  %></li>